body{
    display : block;
    overflow-x: hidden;
}
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}
.bg-light {
    background-color: #2f97ff;
}
.navbar{
     
     padding : 0px ;

}

.col-lg-3 {
    flex: 0 0 auto;
    width: 30%;
}

.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 10px;

}
.navbar .nav-link {
  font-size: 16px;
  margin-left: 0px;
  color:black
}
.fa-bars {
  color: #2fff9e;
  font-size: 30px;
}

.header h1{
    padding-left: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header h1 a{
    background-color: green;
    padding-left: 10px;
    font-size: 20px;
}
.header ul{
    padding-left: 400px;
    padding-top: 10px;
}
.section-title h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    text-align: center
}
.col.card-body.h2{
    padding-right: 100px;
}
